global
    daemon
    maxconn 4096

defaults
    mode http
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms
    option httplog
    option dontlognull
    retries 3

frontend web_frontend
    bind *:8081
    default_backend web_servers
    monitor-uri /health

backend web_servers
    balance roundrobin
    option httpchk GET /
    server web1 127.0.0.1:80 check inter 2000ms rise 2 fall 3

stats enable
stats uri /stats
stats refresh 30s
